.container-fluid(ng-controller='settingsPasswordCtrl')
  ol.breadcrumb
    li 
      a(ui-sref='home') Dashboard
    li 
      a(ui-sref='settings') Settings
    li.active Password
    ul.actions.m-t--5.hidden-xs.pull-right
      li
        a(ui-sref="settings") 
          i.zmdi.zmdi-close
  .container-fluid
    .row
      .col-sm-6
        .alert.alert-danger(role='alert' ng-show='error')
          p {{error}}
        .card
          .card-header.m-b-20
            h2 Update Password
            button.btn.btn-float.waves-effect.bgm-pink(ng-click='update()' data-snackbar snackbar-show="updated" data-title="Updated: " data-message="password changed successfully" data-type="inverse" data-animation-in="animated fadeInUp"  data-animation-Out="animated fadeOutUp")
              i.zmdi.zmdi-check
          .card-body.card-padding
            .form-group.fg-float
              .fg-line
                input.form-control.fg-input(type='password' ng-model="current_password")
              label.fg-label Current password
            .form-group.fg-float
              .fg-line
                input.form-control.fg-input(type='password' ng-model="new_password")
              label.fg-label New password
 
