.container-fluid(ng-controller='settingsPluginsCtrl')
  ol.breadcrumb
    li 
      a(ui-sref='home') Dashboard
    li 
      a(ui-sref='settings') Settings
    li.active Plugins
    ul.actions.m-t--5.hidden-xs.pull-right
      li
        a(ui-sref="settings") 
          i.zmdi.zmdi-close
  .container-fluid
    .row
      .col-sm-6
        .alert.alert-danger(role='alert' ng-show='error')
          p {{error}}
        .card
          .card-header.m-b-20
            h2 Configure Plugins
            button.btn.btn-float.waves-effect.bgm-pink(ng-click='update()' data-snackbar snackbar-show="updated" data-title="Updated: " data-message="new settings applied to plugins" data-type="inverse" data-animation-in="animated fadeInUp"  data-animation-Out="animated fadeOutUp")
              i.zmdi.zmdi-check
          .card-body.card-padding.p-b-0
            .form-group.fg-float
              .fg-line
                input.form-control.fg-input(type='text' ng-model="domain")
              label.fg-label Website Domain
          hr.m-0
          .card-body.card-padding
            .row
              .col-md-12
                div
                  .toggle-switch.title(data-ts-color="blue")
                    label.ts-label(for="plugin_guests") Guest Plugin
                    input#plugin_guests(type="checkbox" hidden="hidden" ng-model="settings.guests.enabled" ng-false-value='false' ng-true-value='true')
                    label.ts-helper(for="plugin_guests")
                small Enable this plugin to list your current guests on your website. 
                p.c-gray.f-500.m-b-10.m-t-20 Guest Display Style
                .radio.m-b-15
                  label
                    input(type="radio" name="guest_display" ng-model='settings.guests.style' value='cards')
                    i.input-helper
                    | Use cards to show guests
                .radio.m-b-15
                  label
                    input(type="radio" name="guest_display" ng-model='settings.guests.style' value='basic')
                    i.input-helper
                    | Show guests within the website
                .m-t-5
                  small You can add more style in your website's css file.
                .checkbox.m-b-15
                  label
                    input(type="checkbox" name="guest_dark" ng-model='settings.guests.dark' ng-false-value='false' ng-true-value='true')
                    i.input-helper
                    | Revert colors
          hr.m-0
          .card-body.card-padding
            .row
              .col-sm-12
                .toggle-switch(data-ts-color="blue")
                  label.ts-label(for="plugin_reviews") Review Plugin
                  input#plugin_reviews(type="checkbox" hidden="hidden" ng-model="plugins.reviews" ng-false-value='false' ng-true-value='true')
                  label.ts-helper(for="plugin_reviews")
            small Enable this plugin to list your reviews on your website. You can select which reviews to be published on your website.
      .col-sm-6
        div(ng-show="settings.guests.enabled")
          #tipi-plugin-guests
