.drop-zone{ 
  border: dotted 3px #03a9f4; 
  padding: 19px;
  background: #eee;
  text-align: center;
  color: #03a9f4;
  margin-bottom: 5px;
}
.drop-zone i{
  font-size: 60px;
}
.nv-file-over { 
  border: dotted 3px red; 
}
