.container-fluid(ng-controller='activitiesIndexCtrl')
  ol.breadcrumb
    li 
      a(ui-sref='home') Dashboard
    li.active Activities
    ul.actions.m-t--5.hidden-xs.pull-right
      li
        a(ui-sref="new_activity") 
          i.zmdi.zmdi-plus.c-green
      li
        a(ui-sref="home") 
          i.zmdi.zmdi-close
  .container-fluid
    .row
      .col-sm-12
        #activities-list(infinite-scroll="more()" infinite-scroll-distance="3" infinite-scroll-disabled='activities.disabled')
          .col-md-3.col-sm-6
            .dash-widget-item#new-activity-btn
              .dash-widget-header
                .new.bgm-blue.c-white
                  .content(ui-sref='new_activity')
                    .cell
                      i.zmdi.zmdi-plus
                      .title.p-t-5 NEW ACTIVITY
                      small.animated click to create an activity
                .new-block
          .col-md-3.col-sm-6(ng-repeat='activity in activities.list')
            div(ng-if="$index+1 % 4 == 0" class="clearfix")
            .dash-widget-item
              .dash-widget-header
                .dash-widget-title {{activity.attendees.length || 0}} Going
                img(ng-src='/cdn/activity/{{activity.doc_key}}/main.jpg?{{activity.cache_uid}}')
                .main-item
                  small(am-time-ago='activity.at')
                  h2 {{activity.title}}
                  .actions.text-center
                    button.btn.bgm-pink.btn-icon.btn-float.waves-circle.waves-effect(ui-sref="edit_activity({id:activity.doc_key})" ng-class="activity.is_draft ? 'bgm-pink' : 'bgm-green' ")
                      i.zmdi(ng-class="activity.is_draft ? 'zmdi-edit' : 'zmdi-check' ")
        .clearfix
