meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title Yum Box 
meta(name='description', ng-attr-content='{{seo.description}}' content='Tipi helps you meet new people & share tips while you travel. And discover nearby travel experiences in all countries.')
meta(name='keywords', ng-attr-content='{{seo.keywords}}' content='travel,backpacker,travel,top 10 things,hotel,hostel,places')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='shortcut icon', href='/assets/img/favicon.png')
each item in assets.main.css
  link(href="#{item}", rel="stylesheet")
