aside#sidebar(data-ng-class="{ 'toggled': sidebarToggle.left === true }" ng-controller='sidebarCtrl')
  .sidebar-inner
    .si-inner
      .profile-menu
        a(ui-sref="settings" bg-image-path="/cdn/hostel/{{hostel.doc_key}}/:image" bg-image="{{hostel.images[0]}}" ng-click="hide()")
          .profile-pic
            img(ng-src="/cdn/hostel/{{hostel.doc_key}}/savatar.jpg" err-src='/assets/img/defaultsavatar.jpg')
          .profile-info
            | {{hostel.reception_name||"Forgot to set name?"}}
      ul.main-menu
        li(data-ui-sref-active="active")
          a(ui-sref="home" ng-click="hide()")
            i.zmdi.zmdi-view-dashboard
            | Dashboard
        li(data-ui-sref-active="active")
          a(ui-sref='daily_meal' ng-click="hide()")
            i.zmdi.zmdi-calendar
            | Daily Meal
        li(data-ui-sref-active="active")
          a(ui-sref='main_dishes' ng-click="hide()")
            i.zmdi.zmdi-calendar
            | Main Dishes
        li(data-ui-sref-active="active")
          a(ui-sref='side_dishes' ng-click="hide()")
            i.zmdi.zmdi-calendar
            | Side Dishes
        li(data-ui-sref-active="active")
          a(ui-sref="console({key: hostel.server_api_key})" ng-click="hide()")
            i.zmdi.zmdi-view-web
            | Developer Console
